body { 
	font-family: Helvetica; 
	height: 100%;
}
h4 {
	margin:15px 5px;
	text-align: center;
	height: 40px;
}

#board {
	float: left;
	width: 100%;
	display: table;
	background:#f4ecd8;
}
#board .col {
	display: table-cell;
	padding-bottom:45px;
}

.state_box {
	width:12.5%;
	margin-right: 5px;
	border-left:1px solid #676767;
	border-right:1px solid #676767;
}

.col_0 {
	background: #f4ecd8;
}
.col_1 {
	background: #f4ecd8;
}
.col_2 {
	background-color: #f4ecd8;
}
.col_3 {
	background-color: #f4ecd8;
}
.col_4 {
	background-color: #f4ecd8;
}
.col_5 {
	background-color: #f4ecd8;
}
.col_6 {
	background-color: #f4ecd8;
}
.col_7 {
	background-color: #f4ecd8;
}


ul { 
	list-style: none; 
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}

.box {
	font-size: 80%;
	padding: 0.2em;
	border: 1px solid black;
	margin:5px;
	background-color: #fff;
	min-height: 32px;
	border-radius: 5px;
	/*-moz-box-shadow:    3px 3px 5px 6px #00050A;
	-webkit-box-shadow: 0px 1px 1px 1px #00050A;
	box-shadow: 0px 1px 1px 1px #00050A;*/
}

.color_0 {
	background-color: #FFF;
}
.color_1 {
	background-color: #00CC00;
}
.color_2 {
	background-color: #FFFF00;
}
.color_3 {
	background-color: #FF3300;
}

.highlight .box {
	background-color: #009999;
}

.box .editBox {
	width: auto;
}

.placeholder div { 
	background-color:white !important; 
	border:dashed 1px gray !important; 
	margin:5px;
}

.editBox {
	background-color: white;
	border: 2px solid #E8F3FF;
	padding: 10px 15px;
	height: 35px;
}

.clear {
	clear: both;
}

.people-list li {
	float: left;
	margin-right: 10px;
}

.navigation {
	margin: 10px;
}


.navigation ul {
	margin-top: 10px;
}

navigation.top {
	/*height: 30px;*/
	padding: 10px;
	display: block;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #666666 0%, #474747 22%, #000000 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(22%,#474747), color-stop(100%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 0%,#474747 22%,#000000 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 0%,#474747 22%,#000000 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 0%,#474747 22%,#000000 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666666 0%,#474747 22%,#000000 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	height: 1em;
}

navigation.top a, navigation.top a:visited, navigation.top a:active {
	color: #fff;
	text-decoration: none;
	margin-left: 5px;
}

navigation.top li {
	float: left;
	margin-right: 10px;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings-white.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
.icon-plus {
	background-position: -408px -96px;
}
.icon-question-sign {
	background-position: -96px -96px;
}

.hide {
	display: none;
}

.modal li {
	line-height: 1.8em;
}
