body { 
	font-family: Helvetica; 
}
h4 {
	margin:5px;
	text-align: center;
	height: 40px;
}

#board {
	float: left;
	width: 100%;
	display: table; 
}
#board .col {
	display: table-cell;
}

.state_box {
	width:12.5%;
	margin-right: 5px;
}

.col_0 {
	background: #E6E6F5;
}
.col_1 {
	background: #CCCCEB;
}
.col_2 {
	background-color: #B2B2E0;
}
.col_3 {
	background-color: #9999D6;
}
.col_4 {
	background-color: #8080CC;
}
.col_5 {
	background-color: #6666C2;
}
.col_6 {
	background-color: #4D4DB8;
}
.col_7 {
	background-color: #3333AD;
}


ul { 
	list-style: none; 
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}

.box {
	font-size: 80%;
	padding: 0.2em;
	border: 1px solid black;
	margin:5px;
	background-color: #fff;
	min-height: 32px;
	/*-moz-box-shadow:    3px 3px 5px 6px #00050A;
	-webkit-box-shadow: 0px 1px 1px 1px #00050A;
	box-shadow: 0px 1px 1px 1px #00050A;*/
}

.color_0 {
	background-color: #FFF;
}
.color_1 {
	background-color: #00CC00;
}
.color_2 {
	background-color: #FFFF00;
}
.color_3 {
	background-color: #FF3300;
}

.highlight .box {
	background-color: #009999;
}

.box .editBox {
	width: 100%;
}

.placeHolder div { 
	background-color:white !important; 
	border:dashed 1px gray !important; 
	margin:5px;
}

.editBox {
	background-color: white;
	border: 2px solid #E8F3FF;
	padding: 10px 15px;
	height: 35px;
}

.clear {
	clear: both;
}

.people-list li {
	float: left;
	margin-right: 10px;
}

.navigation {
	margin: 10px;
}

.navigation ul {
	margin-top: 10px;
}